:root {
  --lightest-color:#f3f3f3;
  --light-color:#ececec;
  --medium-color:#dbdbdb;
  --btn-color: #d3d3d3;
  --radius: 8px;
  font-family: sans-serif;
  font-size: 16px;
}
table {
  min-width: 600px;
  width: 100%;
  max-width: 900px;
  margin: auto;
  border-collapse: collapse;
}
td { 
  padding: 1em;
  background-color: var(--lightest-color);
  text-align: center;
  vertical-align: center;
}
thead th{
  color: var(--lightest-color);
}
thead th:not(th:first-child) {
  width: 17%;
  text-transform: lowercase;
}
thead p:nth-child(2) {
  margin-bottom: 5px;
  font-size: 2em ;
}
thead p:nth-child(2) + p {
  margin-top: 0;
}
thead th:first-child {
  border-top-left-radius: var(--radius);
  background-color: #7987ac;
}
thead th:first-child::first-letter,
tbody td::first-letter {
  text-transform: uppercase;
} 
thead th:nth-child(2) {
  background-color: #4f628d;
}
thead th:nth-child(3) {
  background-color: #2f4173;
}
thead th:nth-child(4) {
  background-color: #162954;
}
thead th:last-child {
  border-top-right-radius: var(--radius);
  background-color: #07153a;
}
tfoot td:first-child {
  border-bottom-left-radius: var(--radius);
}
tfoot td:last-child {
  border-bottom-right-radius: var(--radius);
}
tbody td:first-child {
  padding-left: 1em;
  text-align: left;
}
tbody tr:nth-child(odd) td:nth-child(odd),
tfoot tr:nth-child(odd) td:nth-child(odd) {
  background-color: var(--medium-color);
}
tbody tr:nth-child(odd) td:nth-child(even),
tbody tr:nth-child(even) td:nth-child(odd),
tfoot tr:nth-child(odd) td:nth-child(even) {
  background-color: var(--light-color);
}
tfoot button{
  min-width: 80%;
  border: 1px solid #aaaaaa;
  padding: 10px;
  background-color: var(--btn-color);
  color: #5c5c5a;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  cursor: pointer;
}